.card_pricing__conteiner{
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  color: antiquewhite;
  font-family: calibri;
}

.card_pricing__title{
  margin-bottom: 3px;
}

.card_pricing__value{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card_pricing__value__console{
  display: flex;
  flex-direction: row;
}

.card_pricing__value__console > span {
  font-weight: bolder;
  margin-right: 10px;
  color: aqua;
}
